/* colores */

$bg-colorPrincipal:#f4f4f4;
$color1:blueviolet;
$color2: #0000;
$color3:#fff;

/* Fuentes */

$font-principal:'Montserrat', sans-serif;
$titulos-medida:18px;
$parrafos_medida:15px;

/* display */

$display: flex;

/* medidas */

$max-width: 100%;
$max-heigth:100%;