footer{
    .cabezote{
        display:$display;
        justify-content: space-around;
        align-items: map-get($mapa1 , alineacion );
        width: $max-width;
        @extend %pantalla
    }

#logoPersonal{
    width:$max-width;
    }

    nav{

<<<<<<< HEAD
        
@media only screen and (max-width: 576px){
    display: none;
    }

@media only screen and (max-width: 768px){
    display: none;
    }


=======
>>>>>>> 00ec602fc207e0e778ffbc8bd9cd5987e6597b61
        ul{
        display: $display;
        justify-content: space-around;
        width: $max-width;
        color:$color2;
        list-style: none;
        text-decoration: underline;

        li{

            a{
                text-transform: uppercase;
                list-style: none;
                text-decoration: underline;
                color: $color2;
                

            &:hover{
                background-color: $color1;
                color: $color3;
                padding: 10px;
            }

            }


        }
    }
}



}