#recomendaciones{
    width: $max-width;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    background-color: $color1;
    height: 600px;
    align-items: center;
<<<<<<< HEAD
    @include colores;
=======
<<<<<<< HEAD
    @include colores;
=======
<<<<<<< HEAD
    
=======
    @include colores;
>>>>>>> 00ec602fc207e0e778ffbc8bd9cd5987e6597b61
>>>>>>> f6c2153c57393c80179da7faf30e352069493f0e
>>>>>>> 3fb5c274d18c2b4e3e78267fb706ce97cd618534
    

@media only screen and (max-width: 576px){
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: map-get($mapa1 , margenes );
    height: map-get($mapa1 , margenes );
    }

@media only screen and (max-width: 768px){
    display: grid;
    grid-template-columns: repeat(1, 1fr);
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
    grid-template-columns: repeat(1, 1fr);
=======
    grid-template-columns: repeat(2, 1fr);
>>>>>>> 00ec602fc207e0e778ffbc8bd9cd5987e6597b61
>>>>>>> f6c2153c57393c80179da7faf30e352069493f0e
>>>>>>> 3fb5c274d18c2b4e3e78267fb706ce97cd618534
    margin: map-get($mapa1 , margenes );
    height: map-get($mapa1 , margenes );
        }

h3{
    font-size: $titulos-medida;
<<<<<<< HEAD
    color:$color3;
=======
<<<<<<< HEAD
    color:$color3;
=======
<<<<<<< HEAD
    color:white;
=======
    color:$color3;
>>>>>>> 00ec602fc207e0e778ffbc8bd9cd5987e6597b61
>>>>>>> f6c2153c57393c80179da7faf30e352069493f0e
>>>>>>> 3fb5c274d18c2b4e3e78267fb706ce97cd618534
    text-align: map-get($mapa1 , alineacion );
    text-transform: uppercase;
    font-family: $font-principal;
    padding-top: map-get($mapa1 , padding-general );
    width: 90%;
    margin: map-get($mapa1 , margenes );
<<<<<<< HEAD
    @include colores;
=======
<<<<<<< HEAD
    @include colores;
=======
<<<<<<< HEAD
    
=======
    @include colores;
>>>>>>> 00ec602fc207e0e778ffbc8bd9cd5987e6597b61
>>>>>>> f6c2153c57393c80179da7faf30e352069493f0e
>>>>>>> 3fb5c274d18c2b4e3e78267fb706ce97cd618534
    }
    
p{
    font-family: $font-principal;
    font-size: $parrafos_medida;
<<<<<<< HEAD
    color: $color3;
=======
<<<<<<< HEAD
    color: $color3;
=======
<<<<<<< HEAD
    color: white;
=======
    color: $color3;
>>>>>>> 00ec602fc207e0e778ffbc8bd9cd5987e6597b61
>>>>>>> f6c2153c57393c80179da7faf30e352069493f0e
>>>>>>> 3fb5c274d18c2b4e3e78267fb706ce97cd618534
    text-align: map-get($mapa1 , alineacion );
    width: 90%;
    margin: map-get($mapa1 , margenes );
    padding-top: map-get($mapa1 , padding-general );
    padding-bottom:map-get($mapa1 , padding-general );
    }
    
img{
    width:30%;
    padding-top: map-get($mapa1 , padding-general );
    margin: map-get($mapa1 , margenes );
    display:$display;
    align-items: map-get($mapa1 , alineacion );
    }

}

