#trabajos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-gap: 20px;
    background-color: $bg-colorPrincipal;
    padding-top: 60px;
    padding-bottom: 60px;
    @include colores;

    @media only screen and (max-width: 576px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }

    @media only screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: map-get($mapa1 , margenes);
    }

    img {
        width: 90%;
        align-items: map-get($mapa1 , alineacion);
    }

    h2 {
        font-size: $titulos-medida;
        color: $color1;
        text-align: map-get($mapa1 , alineacion);
        text-transform: uppercase;
        font-family: $font-principal;
    }
}


